{% extends "layout.html" %}

{% block title %}Talonaattori - Rekisteröityminen{% endblock %}

{% block content %}

<div id = "div_navigation">
	
	  <ul id="ul_navigation">
	  <li><a href="/view_company">Yhtiön tiedot</a></li>
	  <li><a href="/view_company_docs">Yhtiön dokumentit</a></li>
	  <li><a href="/add_company_doc">Lisää dokumentti</a></li>
	<ul>
	</div>

<h2>Lisää dokumentti yhtiölle </h2>
<form action="/add_company_doc" method="post">
  <p>
    <label for="name">Tiedoston nimi</label>: <br />
    <input type="text" name="name" id="name" />
  </p>
  <p>
    <label for="file">Tiedosto</label>: <br />
    <input type="file" name="file" id="file" />
  </p>
  <button type="submit">Lisää tiedosto</button>
  <button type="submit" formmethod="GET" formaction="/view_company">Peruuta</button> 
</form>
{% endblock %}
