<!DOCTYPE html>
<html>

	<head>
		<link rel= "stylesheet" type= "text/css" href= "static/styles.css">
		<title>{% block title %} {% endblock %}</title>
	</head>
	<body>
	  <h1>Talonaattori</h1>
	  {% if session.user_id %}
	  <p>
			Olet kirjautunut nimellä {{ session.username }}
	  </p>
	  {% endif %}
	
	<!--Navigation bar here - different options for logged in and logged out-->
	<div id = "div_navigation">
	
	{% if session.user_id %}
	<ul id="ul_navigation">
	  <li>Etusivu</li>
	  <li>Yhtiö</li>
	  <li>Asunto</li>
	  <li>Käyttäjä</li>
	  <li>Kirjaudu ulos</li>
	<ul>
	</div>
	
	{% else %}
		
	<div id = "div_navigation">
	<ul id= "ul_navigation">
	  <li>Kirjaudu sisään</li>
	  <li>Luo tunnus</li>
	</ul>
	{% endif %}
	
	</div>

	{% block content %} {% endblock %}
	
	</body>
</html>

